.container {
  width: 300px;
  margin: 30px auto;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

input,
textarea {
  padding: 6px;
  font-size: 14px;
}

button {
  margin-top: 10px;
  padding: 8px;
  color:white;
  background-color: blue;
  cursor: pointer; 
}

.error {
  color: red;
  font-size: 12px;
  margin: 0;
  text-align: left;
}

label {
  font-weight: bold;
  text-align: left;
}
